doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 金 太永(キム テヨン)履歴書

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none 金 太永
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') 自己紹介
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') 職務経歴
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') スキル
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') 学歴
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') 個人プロジェクト
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') 資格

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0 金 太永(キム テヨン)
                    .subheading.mb-5
                        | 韓国国籍 · 東京在住 · 1993/08/16
                        | (
                        span.age-output(data-input='1993-08-16') 30
                        |歳) · 070-8532-1949 ·
                        a(href='mailto:kinjwo1@gmail.com') kinjwo1@gmail.com
                    p.lead.mb-5 
                        | Webプログラマーとして6年目でバックエンドに多数の経験を持っております。
                        | 主にJavaとSpringを用いたWeb開発を行っておりました。
                        | バックエンドに興味を持っていて今はWeb開発のみ行っていますが、今後はモバイル開発にも挑戦して行きたいです。
                    .social-icons
                        a.social-icon(href='https://github.com/bittap' target="_blank")
                            i.fab.fa-github
                        a.social-icon(href="https://stackoverflow.com/users/15510171/bittap" target="_blank")
                            i.fab.fa-stack-overflow

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 業務経歴

                    -
                        const experiences = [
                            {
                                company_name: "テクノブレイブ株式会社",
                                company_role: "テクニカルリーダー",
                                company_period: "2021.01 ~ ",
                                company_overview: `製造を始め、設計に力を入れております。主にJavaを用いたWeb開発が多く、多数のプロジェクト経験を積んでおります。
                                <br>
                                2023年4月からはテクニカルリーダーに選ばれ、業務上の課題を発見・解決をリードし、社内へのエンジニア育成の支援を行っております。`,
                                projects: [
                                            {
                                                title: "Teradataマイグレーション",
                                                date: "2024-01-01 ~ ",
                                                process: "BD,SD",
                                                skill: "Jp1、Jenkins、Shell、Apache Spark、hive、Livy、Ranger、Hadoop",
                                                contract: "準委任",
                                                overview: `Teradata(platform)のデータ容量がもうすぐでいっぱいになる。
                                                            <br>
                                                        費用激減を図るためにplatformからOSS(Open Source Software)を使う新システムに移行。`,
                                                detail: `方式チームとして参加し、以下の方式設計を担当しました。
                                                        <ul>
                                                            <li>リリース管理方式</li>
                                                            CI・CDを伴うリリースの設計
                                                            <li>連携処理方式</li>
                                                            外部と内部の連携方法を整理
                                                            <li>ログ管理方式</li>
                                                            管理対象のログ整理と通知対象のログを整理
                                                            <li>処理実績管理方式</li>
                                                            処理実績を可視化・管理するための仕組みを作成
                                                        </ul>
                                                        上記以外にもSparkやHive等の調査を行いました。
                                                        
                                                `
                                            },
                                            {
                                                title: "南関東4競馬場HPのリニューアル",
                                                date: "2023-05-01 ~ 2023-12-31",
                                                process: "SD,PG,PT,IT,ST",
                                                skill: "Java、Velocity、Javascript、html、css、postgresql",
                                                contract: "請負",
                                                overview: "既存の<a href=\"https://www.nankankeiba.com/\" target=\"_blank\">南関東4競馬場HP</a>をレスポンシブ(PCとスマホ対応)へリニューアル",
                                                detail: `バックエンドとフロントエンド両方を開発しました。
                                                        <br/>
                                                        具体的なバックエンドとフロントエンドの開発範囲は以下になります。
                                                        <ul>
                                                            <li>バックエンド：javaとSQL(selectのみ)でフロントエンドに返すデータの生成</li>
                                                            <li>フロントエンド：デザインチームが作成したhtmlをVelocity(フロントエンドテンプレート)で修正</li>
                                                        </ul>
                                                        私は以下の画面を担当しました。
                                                        <ul>
                                                            <li><a href="https://www.nankankeiba.com/" target="_blank">メインページ</a></li>
                                                            <li><a href="https://www.nankankeiba.com/odds/202403222019050501.do" target="_blank">オッズ一覧</a></li>
                                                            <li><a href="https://www.nankankeiba.com/odds_nin/202403222019050501.do#odds" target="_blank">オッズ-人気・高配当順</a></li>
                                                            <li><a href="https://www.nankankeiba.com/odds_nin_search/2024032220190505.do#odds" target="_blank">オッズ-人気検索</a></li>
                                                            <li><a href="https://www.nankankeiba.com/odds_bai_search/2024032220190505.do#odds" target="_blank">オッズ検索</a></li>
                                                        </ul>
                                                `
                                            },
                                            {
                                                title: "認知症AI診断システム(製品版)",
                                                date: "2023-02-01 ~ 2023-04-30",
                                                process: "IT",
                                                skill: "Java、Javascript、Spring、Aws、PostgreSQL",
                                                contract: "請負",
                                                role: "<mark>バックエンドリーダー</mark>",
                                                overview: `患者との会話をAIによって診断してくれるWeb認知症AI診断システム`,
                                                detail: `<ul>
                                                            <li>バックエンドのバグ対応</li>
                                                            <li>フロントエンドのバグ対応のフォロー</li>
                                                            <li>バグ原因調査後、対応方針を決めてメンバーに割り振り</li>
                                                            <li>コードレビュー</li>
                                                        </ul>
                                                        
                                                `
                                            },
                                            {
                                                title: "PHC 患者ID統合システム構築",
                                                date: "2022-12-01 ~ 2023-01-31",
                                                process: "PG,PT,IT",
                                                skill: "C#、SQL Server、Azure",
                                                contract: "請負",
                                                overview: `既存各PHCシステムで管理している患者情報を統合するシステムの新規構築`,
                                                detail: `ヘルパーメンバーとして参加。
                                                        <ul>
                                                            <li>API実装</li>
                                                            <li>基本設計書にフローチャート追加と修正</li>
                                                            <li>単体・結合テスト</li>
                                                        </ul>
                                                        
                                                `
                                            },
                                            {
                                                title: "認知症AI診断システム(製品版)",
                                                date: "2022-05-01 ~ 2022-11-31",
                                                process: "BD,SD,PG,PT",
                                                skill: "Java、Javascript、Spring、Aws、PostgreSQL、Junit、Postman",
                                                contract: "請負",
                                                overview: `患者との会話をAIによって診断してくれるWeb認知症AI診断システム`,
                                                detail: `
                                                        BDとSD
                                                        <ul>
                                                            <li>Azure -> Aws移行によるAPI修正</li>
                                                            <li>新規API設計</li>
                                                            <li>AOP設計</li>
                                                        </ul>
                                                        PG
                                                        <ul>
                                                            <li>API開発</li>
                                                            <li>AOP開発</li>
                                                        </ul>
                                                        PT
                                                        <ul>
                                                            <li>Junit,Postmanのテストコード作成</li>
                                                            <li>テストコード共通化</li>
                                                            <li>カバレッジ100%対応</li>
                                                        </ul> 
                                                `
                                            },
                                            {
                                                title: "認知症AI診断システム(商用版)",
                                                date: "2021-12-01 ~ 2022-04-30",
                                                process: "PG,PT,IT",
                                                skill: "Java、Javascript、Spring、Aws、PostgreSQL、Junit、Postman",
                                                contract: "請負",
                                                overview: `患者との会話をAIによって診断してくれるWeb認知症AI診断システム`,
                                                detail: `
                                                        <ul>
                                                            <li>コアAPI作成</li>
                                                            <li>フロントエンドテンプレートの共通処理作成</li>
                                                            <li>テストコード作成</li>
                                                            <li>バグ対応</li>
                                                        </ul> 
                                                `
                                            },
                                            {
                                                title: "配送ロボ",
                                                date: "2021-09-01 ~ 2021-12-31",
                                                process: "PG,PT,IT",
                                                skill: "Java、MQTT、Javasript、Spring、PostgreSQL、GCP",
                                                contract: "請負",
                                                overview: `ロボット・エレベータ制御システムオフィスビルの飲食店から別フロアの会議室まで配膳するロボットの制御システム開発`,
                                                detail: `
                                                        <ul>
                                                            <li>バックエンド全体開発</li>
                                                            <li>Mqtt・RestApiによるロボット・エレベータ制御</li>
                                                            <li>テストコード作成</li>
                                                            <li>テスト</li>
                                                        </ul>
                                                `
                                            },
                                            {
                                                title: "認知症AI診断システム(治験版)",
                                                date: "2021-07-01 ~ 2021-08-31",
                                                process: "PG,PT",
                                                skill: "Java、Spring、Aws、PostgreSQL、Junit、Postman",
                                                contract: "請負",
                                                overview: `患者との会話をAIによって診断してくれるWeb認知症AI診断システム`,
                                                detail: `患者と録音したファイルの転送が失敗しないように追加開発 `
                                            },
                                            {
                                                title: "Eセールスマネージャー",
                                                date: "2021-05-10 ~ 2021-06-30",
                                                process: "PG,PT",
                                                skill: "Java、Postman",
                                                contract: "準委任",
                                                overview: `セールスマネージャーリファクタリング`,
                                                detail: `
                                                        <ul>
                                                            <li>二つのサービスに関するInsert,Update,DeleteのAPI開発</li>
                                                            <li>Postmanにて単体テストプログラム作成</li>
                                                        </ul>
                                                `
                                            },
                                            {
                                                title: "認知症AI診断システム(治験版)",
                                                date: "2021-04-14 ~ 2021-05-11",
                                                process: "IT",
                                                skill: "Java、Spring-session",
                                                contract: "請負",
                                                overview: `患者との会話をAIによって診断してくれるWeb認知症AI診断システム`,
                                                detail: `メモリ上のセッションが切れる不具合をDB上に持たせるように修正 `
                                            },
                                            {
                                                title: "災害監視画像コンテンツシステム",
                                                date: "2021-02-01 ~ 2021-03-31",
                                                process: "PG,PT,IT",
                                                skill: "Java、Spring",
                                                contract: "請負",
                                                overview: `映像コンテンツ配信サーバー開発`,
                                                detail: `
                                                        <ul>
                                                            <li>映像コンテンツ配信、保存、受信API製造</li>
                                                            <li>単体テスト仕様書作成及びテスト</li>
                                                        </ul>
                                                `
                                            },
                                        ]
                            },
                            {
                                company_name: "ジョイクレジット",
                                company_name_additional: "(※1)",
                                company_period: "2017.10 ~ 2019.02",
                                company_overview: `日本のアコムのような消費者金融会社で<a href="https://www.joycredit.co.kr/" target="_blank">外部サイト</a>と社内のプログラムの開発と保守を行いました。`,
                                projects: [
                                            {       
                                                title: "貸出システムの開発と保守",
                                                date: "2017.10 ~ 2019.02",
                                                skill: "PHP、JAVASCRIPT 、POSTGRESQL",
                                                contract: "社内開発",
                                                overview: `外部サイトと社内の貸出システムの開発と保守`,
                                                detail: `
                                                        <ul>
                                                            <li>開発</li>
                                                                <ul>
                                                                    <li>顧客の等級算出、メニュー権限、社員の実績メニュー、役職と職級による電算要請メニュー、消滅時効メニュー</li>
                                                                    <li>内部の規定及び法律の変更によるプログラムの修正</li>
                                                                    <li>利子の変更による口座のまとめ</li>
                                                                    <li>バッチプログラムの作成</li>
                                                                </ul>
                                                            <li>システム関連の問い合わせと不具合対応</li>
                                                            <li>外部プログラム及び外部取引先管理
                                                            <li>外部ソフトウェアの企業選定と起案書作成</li>
                                                            <li>クエリを用いた要請資料の作成</li>
                                                                <ul>
                                                                    <li>年齢、性別、職種別などの貸出金、償還金などの資料の作成</li>
                                                                    <li>マーケティング及び会社の運営の為の統計資料作成</li>
                                                                </ul>
                                                        </ul>  
                                                `
                                            },
                                ]
                            },
                            {
                                company_name: "名利株式会社",
                                company_name_additional: "(※1)",
                                company_period: "2016.10 ~ 2017.10",
                                company_overview: `ホームページと通販サイトの制作をするシステムの開発と保守。`,
                                projects: [
                                            {       
                                                title: "サイトおよび通販サイトの制作",
                                                date: "2016.10 ~ 2017.10",
                                                skill: "Php、Javascript、MySql",
                                                contract: "社内開発",
                                                overview: ``,
                                                detail: `
                                                    <ul>
                                                        <li>デザインチームから受け取ったHTMLをシステムを用いて開発し、お客様に提供</li>
                                                        <ul>
                                                            <li>通販サイトの開発</li>
                                                                <ul>
                                                                    <li><a href="http://a-design.kr/" target="_blank">通販サイトのテンプレート販売</a></li>
                                                                    <li><a href="http://commaxbc0001.co.kr/type6/index/index.htm" target="_blank">ドアロック</a></li>
                                                                    <li><a href="http://www.aircon007.com/type6/index/index.htm" target="_blank">電気製品</a></li>
                                                                    等
                                                                </ul>
                                                            <li>企業ホームページの開発</li>
                                                                <ul>
                                                                    <li><a href="http://www.howon-hospital.co.kr/" target="_blank">病院</a></li>
                                                                    <li><a href="http://myungli.com" target="_blank">名利株式会社</a></li>
                                                                    <li><a href="http://www.chamlove.org" target="_blank">教会</a></li>
                                                                    等
                                                                </ul>
                                                        </ul>
                                                        システム中で吸収できない機能は開発し、システムのバージョンアップを行いました。
                                                        <li>デザインチームから受け取ったHTMLをシステムを用いて開発し、お客様に提供</li>
                                                        <li>決済APIを通して決済システムとの連係</li>
                                                        <li>割引クーポン機能の開発</li>
                                                        <li>ホームページに関わる顧客からの問い合わせ、電話対応 及びエラー修正</li>
                                                    </ul>
                                                `
                                            },
                                            
                                ]
                            }
                        ]

                    each experience, experienceIndex in experiences
                        .d-flex.flex-column.flex-md-row.justify_content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 #{experience.company_name}#{experience.company_name_additional}
                                .subheading.mb-3 #{experience.company_role}
                                p !{experience.company_overview} 
                                <button class="btn btn-primary text-light" type="button" data-bs-toggle="modal" data-bs-target="#experience-modal-#{experienceIndex}">プロジェクトの詳細を開く</button>
                                <div class="modal fade modal-dialog-scrollable" id="experience-modal-#{experienceIndex}" tabindex="-1" aria-labelledby="experience-modal-label-#{experienceIndex}" aria-hidden="true">
                                    .modal-dialog.modal-xl
                                        .modal-content
                                            .modal-header
                                                h1.modal-title.fs-5.Modal#experience-modal-label #{experience.company_name}のプロジェクト詳細
                                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                            .modal-body 
                                                <ul class="list-group">
                                                    each project, projectIndex in experience.projects
                                                        div.project-wrap
                                                            <li class="list-group-item">
                                                                .d-flex.flex-column.flex-md-row
                                                                    div.h6 
                                                                        span #{projectIndex+1}.
                                                                        | #{project.title}
                                                                    div.ms-md-auto #{project.date}
                                                                .d-flex.flex-column
                                                                    if project.role 
                                                                        div 役割：!{project.role}
                                                                    if project.process 
                                                                        div 参加工程：#{project.process}
                                                                    div スキル：#{project.skill}
                                                                    div 契約形態：!{project.contract}
                                                                    div プロジェクト概要：!{project.overview}
                                                                    .detail.mt-4
                                                                        div プロジェクト内容
                                                                        div.content.ms-1.ms-md-3 !{project.detail}
                                                            </li>
                                                </ul>
                                </div>                
                            .flex-shrink-0
                                span.text-primary #{experience.company_period}

                    small ※1 韓国の会社

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 スキル
                    .subheading.mb-3 ・バックエンド
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            figure.figure
                                i.fa-brands.fa-java
                                figcaption.figure-caption.text-center java
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/JUnit.svg' alt="junit")
                                figcaption.figure-caption.text-center junit
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/spring.svg' alt="spring")
                                figcaption.figure-caption.text-center spring
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/spring-jpa.png' alt="spring-jpa")
                                figcaption.figure-caption.text-center jpa
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/rest-api-icon.svg' alt="rest-api")
                                figcaption.figure-caption.text-center rest-api
                        li.list-inline-item
                            figure.figure
                                i.fa-brands.fa-php
                                figcaption.figure-caption.text-center php
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/postgresql-icon.svg' alt="postgresql-icon")
                                figcaption.figure-caption.text-center postgresql
                    .subheading.mb-3 ・フロントエンド
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            figure.figure
                                i.fab.fa-js
                                figcaption.figure-caption.text-center js
                        li.list-inline-item
                            figure.figure
                                i.fab.fa-html5
                                figcaption.figure-caption.text-center html
                        li.list-inline-item
                            figure.figure
                                i.fab.fa-css3-alt
                                figcaption.figure-caption.text-center css
                    .subheading.mb-3 ・その他
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            figure.figure
                                i.fab.fa-aws
                                figcaption.figure-caption.text-center aws
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/maven.svg' alt="maven")
                                figcaption.figure-caption.text-center maven
                        li.list-inline-item
                            figure.figure
                                img(src='assets/img/postman.svg' alt="postman")
                                figcaption.figure-caption.text-center postman

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 学歴

                    .d-flex.flex-column.flex-md-row.justify_content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 独学士
                            .subheading.mb-3 試験によって学位を取る韓国の制度で4年制
                            div コンピューター工学
                            p GPA: 3.3(B+)
                        .flex-shrink-0
                            span.text-primary 2019年卒
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 個人プロジェクト

                    .d-flex.flex-column.flex-md-row.justify_content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href='https://azusato.com/' target="_blank") プロポーズ(※1)
                            p 妻にプロポーズするためと結婚後に友達にお祝いしてもらうことを記録するために作りました。
                        .flex-shrink-0
                            span.text-primary 2022.1 ~ 2023.3

                    .d-flex.flex-column.flex-md-row.justify_content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                                a(href='https://azusato.com/wedding/invitation' target="_blank") 招待状(※1)
                            p 結婚式への招待状として使い、参加者の管理等を行いました。
                        .flex-shrink-0
                            span.text-primary 2023.3 ~ 2023.6

                    div プロジェクトの詳細については
                        a(href='https://github.com/bittap/azusato' target="_blank") こちら
                        | のREADMEにあります。
                    

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 資格
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | Java Gold Se11（2022年1月）
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | JPLT N1
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | サービス接遇実務検定試験3級
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 情報処理技師（韓国の資格で日本だと基本情報技術者試験レベルの韓国試験）
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | オフィスオートメーション産業技師（韓国の資格でExcel,Access,PowerPoint関連の韓国試験）

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/moment.js')
        script(src='js/scripts.js')